<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
		<add name = "mycS" connectionString="Data Source=(LocalDB)\MySQLLocalDB;AttachDBFileName=C:\Users\nigel\source\repos\IOOP_Assignment\IOOP_Assignment\Database.mdf;
			 Integrated Security =True" providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>